.dropdown {
  position: absolute;
  /* transform: translateY(-100%); */
  top: 55px;
  width: fit-content;
  /* padding: 0.4rem; */
  border-radius: var(--normal-radius);
  z-index: 100;
  background-color: red;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.dropdown > div {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.dropdown li {
  list-style-type: none;
  display: flex;
}

.dropdown li > * {
  flex-grow: 1;
}

